.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  background-color: var(--LightPurple);
  font-family: Source Sans Pro, Helvetica, sans-serif, Arial cursive;
}
 
/* .wrapper > * {
  padding: 20px;
} */